<!-- <h2>Template-drive form</h2>
<form (ngSubmit)="submit1()" #myForm="ngForm">
  Nama:
  <input #nama="ngModel" required type="text" name="nama" [(ngModel)]="formModel.nama"><br />

  <p *ngIf="!nama.valid && nama.touched">Atribut nama harus diisi</p>

  Umur:
  <input #umur="ngModel" required type="text" name="umur" [(ngModel)]="formModel.umur"><br />

  <p *ngIf="!umur.valid">Atribut umur harus diisi</p>

  <button type="submit" [disabled]="!myForm.valid">Submit</button>
</form>

<h2>Isian form Anda</h2>
Nama: {{nama.value}} <br />
nama valid: {{nama.valid}} <br />
nama touched: {{nama.touched}} <br />
nama pristine: {{nama.pristine}} <br />
nama dirty: {{nama.dirty}} <br />

<h3>Status form Anda</h3>
valid: {{myForm.valid}} -->

<h2>Isi form</h2>
{{form | json}}

<h1>Reactive Form</h1>
<form (ngSubmit)="submit2()" [formGroup]="myReactiveForm">
  Nama: <input type="text" formControlName="nama"> <br />
  <p *ngIf="nama.errors?.required">Atribut nama harus diisi</p>
  <p *ngIf="nama.errors?.minlength">Atribut nama harus minimal 5 karakter</p>
  <p *ngIf="nama.errors?.maxlength">Atribut nama harus maksimal 20 karakter</p>

  Umur: <input type="text" formControlName="umur"> <br />
  <p *ngIf="umur.errors?.required">Atribut umur harus diisi</p>
  <p *ngIf="umur.errors?.min">umur minimal 18 tahun</p>
  <p *ngIf="umur.errors?.max">umur maksimal 80 tahun</p>

  <input type="checkbox" formControlName="check"> I agree with ...
  <p *ngIf="check.errors?.requiredtrue">Anda harus setuju</p>

  <input type="submit" value="Submit" [disabled]="myReactiveForm.invalid">
</form>
