<!-- <h2>Template-drive form</h2>
<form (ngSubmit)="submit1()" #myForm="ngForm">
  Nama:
  <input #nama="ngModel" required type="text" name="nama" [(ngModel)]="formModel.nama"><br />

  <p *ngIf="!nama.valid && nama.touched">Atribut nama harus diisi</p>

  Umur:
  <input #umur="ngModel" required type="text" name="umur" [(ngModel)]="formModel.umur"><br />

  <p *ngIf="!umur.valid">Atribut umur harus diisi</p>

  <button type="submit" [disabled]="!myForm.valid">Submit</button>
</form>

<h2>Isian form Anda</h2>
Nama: {{nama.value}} <br />
nama valid: {{nama.valid}} <br />
nama touched: {{nama.touched}} <br />
nama pristine: {{nama.pristine}} <br />
nama dirty: {{nama.dirty}} <br />

<h3>Status form Anda</h3>
valid: {{myForm.valid}} -->

<h1>Reactive Form</h1>
<form (ngSubmit)="submit2()" [formGroup]="myReactiveForm">
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Nama</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" formControlName="nama" placeholder="Masukkan nama Anda" />
    </div>
  </div>
  <div class="alert alert-warning" role="alert" *ngIf="nama.errors?.required && nama.touched">
    Atribut nama harus diisi
  </div>
  <div class="alert alert-warning" role="alert" *ngIf="nama.errors?.minlength && nama.touched">
    Atribut nama harus minimal 5 karakter
  </div>
  <div class="alert alert-warning" role="alert" *ngIf="nama.errors?.maxlength && nama.touched">
    Atribut nama harus maksimal 20 karakter
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Umur</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" formControlName="umur" placeholder="Masukkan umur Anda" />
    </div>
  </div>
  <div class="alert alert-warning" role="alert" *ngIf="umur.errors?.required && umur.touched">
    Atribut umur harus diisi
  </div>
  <div class="alert alert-warning" role="alert" *ngIf="umur.errors?.min && umur.touched">
    Umur minimal 18 tahun
  </div>
  <div class="alert alert-warning" role="alert" *ngIf="umur.errors?.max && umur.touched">
    Umur minimal 80 tahun
  </div>

  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" formControlName="check">
    <label class="form-check-label" for="exampleCheck1">Saya setuju dengan syarat dan ketentuan yang berlaku</label>
  </div>

  <input type="submit" class="btn btn-primary" value="Submit" [disabled]="myReactiveForm.invalid" />
</form>
